<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/default.css" type="text/css">
    <meta http-equiv="refresh" content="10">
    <title>点座活动（模拟）</title>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24">
        <h1>扫码优惠打折活动（模拟）</h1>
      </div>
      <div class="span-24">
        <%= yield %>
      </div>
      <!-- <div id="footer" class="span-24">
        <p><h4>说明：</h4>此app用于测试商户和消费者的互动流程。 <br/>如有想法或意见，请在发消息到微信群，或发送邮件到<a href= "mailto:zhujiacheng@xiaomishu.com">zhujiacheng@xiaomishu.com</a>。</p>
      </div> -->
    </div>
  </body>
</html>
